<!DOCTYPE html>
<html lang="en">
<head>
	<title>GNUKhata | Cash Flow</title>
<style type="text/css">

.selected
{
	background-color: Aquamarine;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 65%;
	color: black;
}

th {
	font-size: 70%;
}

/*
Force table width to 100%
*/
table.table-fixedheader {
	width: 100%;
}
/*
Set table elements to block mode.	(Normally they are inline).
This allows a responsive table, such as one where columns can be stacked
if the display is narrow.
*/
table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
	display: block;
}
table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after	{
	content:' ';
	display: block;
	visibility: hidden;
	clear: both;
}
/*
When scrolling the table, actually it is only the tbody portion of the
table that scrolls (not the entire table: we want the thead to remain
fixed).	We must specify an explicit height for the tbody.	We include
100px as a default, but it can be overridden elsewhere.

Also, we force the scrollbar to always be displayed so that the usable
width for the table contents doesn't change (such as becoming narrower
when a scrollbar is visible and wider when it is not).
*/
table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 68vh;

}
/*
We really don't want to scroll the thead contents, but we want to force
a scrollbar to be displayed anyway so that the usable width of the thead
will exactly match the tbody.
*/
table.table-fixedheader>thead, table.table-fixedheader>tfoot {
	overflow-y: scroll;
	height: 26px;
	width: 98.5%;
}
/*
For browsers that support it (webkit), we set the background color of
the unneeded scrollbar in the thead to make it invisible.	(Setting
visiblity: hidden defeats the purpose, as this alters the usable width
of the thead.)
*/
table.table-fixedheader>thead::-webkit-scrollbar {
	background-color: inherit;
}


table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
	content:' ';
	display: table-cell;
	visibility: hidden;
	clear: both;
}

/*
We want to set <th> and <td> elements to float left.
We also must explicitly set the width for each column (both for the <th>
and the <td>).	We set to 20% here a default placeholder, but it can be
overridden elsewhere.
*/

table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
	float: left;

}
.nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
}

#rctable, #pytable{
	background-color: white;
}

</style>
</head>
<body>
	{% if orgtype=="Profit Making" %}
		<span style="margin:auto; display:table;"><strong>Cash Flow Account</strong> for the period <strong>{{from}}</strong> to <strong>{{to}}</strong></span>
	{% else %}
		<span style="margin:auto; display:table;"><strong>Receipt & Payment Account</strong> for the period <strong>{{from}}</strong> to <strong>{{to}}</strong></span>
	{% endif %}
	<div class="row">
		<div class="table-responsive col-xs-6 nopadding">
			<table id="rctable" class="shadow table table-condensed table-fixedheader cashflowtable">
				<thead>
					<tr>
						<th class="col-xs-1">&nbsp</th>
						<th class="col-xs-9">Particulars</th>
						<th style="text-align:right" class="col-xs-2">Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for rcrecord in rcrecords %}
					<tr	value="{{rcrecord['accountcode']}}">
						<td class="col-xs-1">
							{{rcrecord['toby']}}
						</td>
						<td class="col-xs-9">
							{% if rcrecord['accountcode']!="" %}
							<a class="rcaccname" href="">{{rcrecord['particulars']}}</a>
							{% else %}
							<a class="rcaccname" href="" style="text-decoration: none; color:black;">{{rcrecord['particulars']}}</a>
							{% endif %}
						</td>
							{% if rcrecord["amount"]=="." %}
								<td class="col-xs-2" style="text-align:right">&nbsp</td>
							{% else %}
								<td class="col-xs-2" style="text-align:right">
									{{rcrecord["amount"]}}
								</td>
							{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive col-xs-6 nopadding">
			<table id="pytable" class="shadow table table-condensed table-fixedheader cashflowtable">
				<thead>
					<tr>
						<th class="col-xs-1">&nbsp</th>
						<th class="col-xs-9">Particulars</th>
						<th style="text-align:right" class="col-xs-2">Amount</th>
					</tr>
				</thead>
				<tbody>
					{% for pyrecord in pyrecords %}
					<tr	value="{{pyrecord['accountcode']}}">
						<td class="col-xs-1">
							{{pyrecord['toby']}}
						</td>
						<td class="col-xs-9">
							{% if pyrecord['accountcode']!="" %}
							<a class="pyaccname" href="">{{pyrecord['particulars']}}</a>
							{% else %}
							<a class="pyaccname" href="" style="text-decoration: none; color:black;">{{pyrecord['particulars']}}</a>
							{% endif %}
						</td>
							{% if pyrecord["amount"]=="." %}
								<td class="col-xs-2" style="text-align:right">&nbsp</td>
							{% else %}
								<td class="col-xs-2" style="text-align:right">
									{{pyrecord["amount"]}}
								</td>
							{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
	<span style="margin:auto; display:table;">
		<button type="button" class="btn btn-sm btn-danger" id="cfback" accesskey="b"><u>B</u>ack</button>
		<button type="button" class="btn btn-sm btn-info" id="printbutton" accesskey="x">E<u>x</u>port to Spreadsheet</button>
		<button type="button" class="btn btn-sm btn-info" id="viewprintableversion" accesskey="t">View Prin<u>t</u>able Version</button>
	</span>
	<input type="hidden" id="ledtodate" value="{{to}}">
	<input type="hidden" id="ledfromdate" value="{{from}}">
	<input type="hidden" id="backflag" value="{{backflag}}">
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/cashflowreport.js')}}"></script>
</body>
</html>
